Transito.json
{
  "name": "Transito",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 04 * * 1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        832
      ],
      "id": "ddce6f96-b4fd-470e-b432-e99a5022db40",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n\t, a.valor_total\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n    \t\tand a.FILIAL_ORIGEM = b.filial_origem \n    \t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\nwhere a.emissao < dateadd(day, -20, GETDATE())\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1008,
        592
      ],
      "id": "47db714b-b795-4248-ab3a-0d1fa1509348",
      "name": "Microsoft SQL",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed72e465-7312-4552-94ea-c29553e00b26",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente.replaceAll(\";\", \",\") }}",
              "type": "string"
            },
            {
              "id": "02dba7ea-7271-4834-8f71-0c0e747e1966",
              "name": "email_supervisor",
              "value": "={{ $json.EMAIL_SUPERVISOR }}",
              "type": "string"
            },
            {
              "id": "8dbfbe7f-0396-42d0-b5e0-983c32bf1fc8",
              "name": "emissao",
              "value": "={{ $json.emissao.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "d6979faa-d5b3-4a45-b950-b8833895e096",
              "name": "valor",
              "value": "={{ $json.valor_total }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        576
      ],
      "id": "0f56ebfb-4b31-4d8e-a6ec-37768f38fbb0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1632,
        576
      ],
      "id": "38872eec-3d00-4cd4-9031-00bbf9d55029",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        544
      ],
      "id": "e8e5b1c8-f2f4-4c5d-8234-7eead3c3b3d7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $('Loop Over Items').item.json.filial }}",
              "type": "string"
            },
            {
              "id": "50206051-1938-458d-ab93-fd7d1ab99c3f",
              "name": "email_enviar",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        592
      ],
      "id": "09bea885-d35a-4072-a028-3b7a6cb22696",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        592
      ],
      "id": "8db7dc39-102b-4cac-8081-5fc4297f2f9b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select a.filial\n\t, a.filial_origem\n\t, a.numero_nf_transferencia\n\t, a.emissao\n    , a.valor_total\nfrom LOJA_ENTRADAS a\n\tleft join TRANSITO_ATUALIZAVEL b on a.filial = b.filial_destino\n    \t\tand a.FILIAL_ORIGEM = b.filial_origem \n    \t\tand a.NUMERO_NF_TRANSFERENCIA = b.numero_NF\nwhere a.emissao < dateadd(day, -20, getdate())\n\tand a.ENTRADA_CONFERIDA = 0\n\tand a.filial = '{{ $json.filial }}'\n\tand b.data_envio is null\norder by a.emissao asc"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1024,
        1184
      ],
      "id": "83287e13-5cf1-4cae-bc46-775d417d5892",
      "name": "Microsoft SQL2",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa8a89f-beb8-413f-b627-2dea9587d47a",
              "name": "NF",
              "value": "={{ $json.numero_nf_transferencia }}",
              "type": "string"
            },
            {
              "id": "0cb688d6-6044-492a-8ca7-b02684048df0",
              "name": "filial_destino",
              "value": "={{ $json.filial }}",
              "type": "string"
            },
            {
              "id": "1da452b0-1554-4ecc-9011-139da7e5c531",
              "name": "filial_origem",
              "value": "={{ $json.filial_origem }}",
              "type": "string"
            },
            {
              "id": "12a40e48-bf39-4b80-bc84-56f620889daa",
              "name": "dia em transito",
              "value": "={{ Math.floor(($now.toJSDate() - new Date($json.emissao)) / (1000 * 60 * 60 * 24)) }}\n",
              "type": "string"
            },
            {
              "id": "ed8008ab-7c93-4e0d-abe5-0334777adce8",
              "name": "email_gerente",
              "value": "={{ $json.email_gerente }}",
              "type": "string"
            },
            {
              "id": "46a56a5e-3803-450c-8435-4ae19895804a",
              "name": "emissao",
              "value": "={{ $json.emissao.toDateTime().format('dd/MM/yyyy')}}",
              "type": "string"
            },
            {
              "id": "040533ce-38a9-40c0-90fb-0e3a2a64e7d9",
              "name": "valor",
              "value": "={{$json.valor_total}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        1168
      ],
      "id": "bdc8601d-5a2f-4aac-9142-b0991850b6fa",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        1168
      ],
      "id": "fbaa91d0-005f-4ceb-9dff-b9cdf1dc4b8b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select filial\n    , email_loja\n    , email_supervisor\nfrom TB_FILIAIS_TRANSITO\nwhere inativo = 0"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        48,
        1136
      ],
      "id": "df47bf71-1326-4486-8fb2-8658c354018a",
      "name": "Microsoft SQL3",
      "credentials": {
        "microsoftSql": {
          "id": "UkgZstSJ5Wj9ofPE",
          "name": "Banco TH"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        1136
      ],
      "id": "c094dfe3-51de-4945-a891-ea57b81321ca",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50f2aebc-b7bf-44ad-a83c-da93f67d2062",
              "name": "filial",
              "value": "={{ $('Loop Over Items1').item.json.filial }}",
              "type": "string"
            },
            {
              "id": "0d91d94e-819c-4e95-96ac-1388730a6cba",
              "name": "email_enviar",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1184
      ],
      "id": "e4929533-5fbe-4eb4-915e-11a8f9efd75d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3799a57d-1c4f-49fb-9ed9-79a4a076ff16",
              "leftValue": "={{ $json.filial }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        1184
      ],
      "id": "d1c31438-202d-4af6-8bdb-86ee1ef0ab1d",
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Jim7tZpkyssIpQFLjPwKf",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jim7tZpkyssIpQFLjPwKf",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2432,
        1344
      ],
      "id": "76dfa1e2-609d-44ca-bb80-6f3f24806b8e",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeaa33ba-e1f5-4a04-93d1-b39184eb64fa",
              "name": "Filial",
              "value": "TH",
              "type": "string"
            },
            {
              "id": "d8b5e669-3561-4818-9225-e793fe1fed69",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1344
      ],
      "id": "1c42addf-4aff-4168-8d55-1b699e974f19",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "205a1cfb-2528-4d65-9e38-884ad094a919",
              "name": "Filial",
              "value": "IB",
              "type": "string"
            },
            {
              "id": "67cf1de6-7473-4175-bfd9-0415585228e1",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        752
      ],
      "id": "666aea17-f10b-46db-a4be-2bab8b6e2a06",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "content": "## Query para pegar todas as filiais que tem nota de entrada aberta\n",
        "height": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        384
      ],
      "id": "7add95fa-4aaa-4a9c-9192-e523f71a8f8d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Query que faz a verificação se já não foi cobrada, e pega os dados",
        "height": 992,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        352
      ],
      "id": "d02281b3-a447-471c-b16d-591eaaa65388",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        480
      ],
      "id": "cf7e3f69-7ca3-4065-9060-f2c658a1fea0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Envia o e-mail para as lojas\n ",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        1056
      ],
      "id": "d41c596e-bbd1-4d76-8a67-b3855fd3e83b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        848
      ],
      "id": "14dfe852-ab78-4197-87ac-fc6839cd26d2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Envia e-mail para notificar que todas as notas ja foram cobradas\n",
        "height": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        240
      ],
      "id": "bb0f6785-e8db-43c6-a5ee-e7eed8b80551",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Envia os dados para um sub-workflow para dar baixa na tabela TRANSITO_ATUALIZAVEL",
        "height": 960,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        576
      ],
      "id": "6716c718-a64e-4dd4-9489-25852e705f28",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tm4r5G7GrUkK9cqz",
          "mode": "list",
          "cachedResultUrl": "/workflow/Tm4r5G7GrUkK9cqz",
          "cachedResultName": "Atualiza tabela TRANSITO_ATUALIZAVEL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2432,
        752
      ],
      "id": "4774e7c9-a041-4df5-af77-8286ce73a147",
      "name": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'"
    },
    {
      "parameters": {
        "toRecipients": "joao.lima@inbrands.com.br;rogerio.andrade@inbrands.com.br",
        "subject": "Notas em trânsito",
        "bodyContent": "Todas as notas do banco da TH já foram cobradas.",
        "additionalFields": {
          "from": "automacaoinbrands@inbrands.com.br"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        544,
        992
      ],
      "id": "44b6779d-7adf-4e2f-bde1-36481bba3dbc",
      "name": "Envia texto que terminou TH",
      "webhookId": "38764517-9d1b-453d-bbff-d474414375e7"
    },
    {
      "parameters": {
        "toRecipients": "joao.lima@inbrands.com.br;rogerio.andrade@inbrands.com.br",
        "subject": "Trânsito notas banco IB",
        "bodyContent": "Todas as notas em trânsito do banco da IB já foram cobradas",
        "additionalFields": {
          "from": "automacaoinbrands@inbrands.com.br"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        560,
        384
      ],
      "id": "dd1d4049-418b-4df1-aede-81ab8b36f389",
      "name": "Envia texto que terminou IB",
      "webhookId": "d4b8d5bd-73d1-479a-a1be-7b46a6a20aa9"
    },
    {
      "parameters": {
        "toRecipients": "joao.lima@inbrands.com.br",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields2').item.json.filial }}",
        "bodyContent": "=Preciso que verifiquem com extrema urgência as notas fiscais abaixo.\n<br><br>\nSe já foram recebidas, por favor baixar.\n<br><br>\nGentileza retornar com as seguintes informações, na coluna observações:<br>\nNão recebida (caso não tenha chegado)<br>\nRecebida e baixada (caso tenha recebido: efetuar baixa)\n<br><br>\n\n<table\n  width=\"100%\"\n  cellpadding=\"6\"\n  cellspacing=\"0\"\n  style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\"\n>\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th style=\"border: 1px solid #ccc;\">Filial destino</th>\n      <th style=\"border: 1px solid #ccc;\">Filial origem</th>\n      <th style=\"border: 1px solid #ccc;\">NF transferência</th>\n      <th style=\"border: 1px solid #ccc;\">Emissão</th>\n      <th style=\"border: 1px solid #ccc;\">Valor total</th>\n      <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>\n      <th style=\"border: 1px solid #ccc;\">Observações</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ $json.data.map(d => `\n    <tr>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.filial_destino.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.filial_origem.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.NF.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.emissao}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">R$ ${parseFloat(d.valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d[\"dia em transito\"].trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\"></td>\n    </tr>\n    `).join('') }}\n    <tr style=\"background-color: #f2f2f2; font-weight: bold;\">\n      <td style=\"border: 1px solid #ccc; text-align: center;\" colspan=\"4\">Total geral</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">\n        R$ {{ $json.data.reduce((acc, d) => acc + parseFloat(d.valor), 0).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}\n      </td>\n      <td style=\"border: 1px solid #ccc;\" colspan=\"2\"></td>\n    </tr>\n  </tbody>\n</table>",
        "additionalFields": {
          "from": "automacaoinbrands@inbrands.com.br",
          "importance": "High",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2064,
        576
      ],
      "id": "359e599e-c324-4edb-844a-26526ffc8894",
      "name": "Envia cobrança IB",
      "webhookId": "857209e0-32e7-46b1-89a8-4f6620b7c14a"
    },
    {
      "parameters": {
        "toRecipients": "joao.lima@inbrands.com.br",
        "subject": "=Notas em trânsito da filial {{ $('Edit Fields4').item.json.filial.trim() }}",
        "bodyContent": "=Preciso que verifiquem com extrema urgência as notas fiscais abaixo.\n<br><br>\nSe já foram recebidas, por favor baixar.\n<br><br>\nGentileza retornar com as seguintes informações, na coluna observações:<br>\nNão recebida (caso não tenha chegado)<br>\nRecebida e baixada (caso tenha recebido: efetuar baixa)\n<br><br>\n\n<table\n  width=\"100%\"\n  cellpadding=\"6\"\n  cellspacing=\"0\"\n  style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px;\"\n>\n  <thead>\n    <tr style=\"background-color: #f2f2f2;\">\n      <th style=\"border: 1px solid #ccc;\">Filial destino</th>\n      <th style=\"border: 1px solid #ccc;\">Filial origem</th>\n      <th style=\"border: 1px solid #ccc;\">NF transferência</th>\n      <th style=\"border: 1px solid #ccc;\">Emissão</th>\n      <th style=\"border: 1px solid #ccc;\">Valor total</th>\n      <th style=\"border: 1px solid #ccc;\">Dias em trânsito</th>\n      <th style=\"border: 1px solid #ccc;\">Observações</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ $('Filtra dado com o valor 0').first().json.data.map(d => `\n    <tr>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.filial_destino.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.filial_origem.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.NF.trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d.emissao}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">R$ ${parseFloat(d.valor).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">${d[\"dia em transito\"].trim()}</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\"></td>\n    </tr>\n    `).join('') }}\n    <tr style=\"background-color: #f2f2f2; font-weight: bold;\">\n      <td style=\"border: 1px solid #ccc; text-align: center;\" colspan=\"4\">Total geral</td>\n      <td style=\"border: 1px solid #ccc; text-align: center;\">\n        R$ {{ $('Filtra dado com o valor 0').first().json.data.reduce((acc, d) => acc + parseFloat(d.valor), 0).toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }}\n      </td>\n      <td style=\"border: 1px solid #ccc;\" colspan=\"2\"></td>\n    </tr>\n  </tbody>\n</table>",
        "additionalFields": {
          "from": "automacaoinbrands@inbrands.com.br",
          "importance": "High",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2112,
        1168
      ],
      "id": "1aff6c81-83a2-4e48-87fb-cd0a7a94981d",
      "name": "Envia cobrança TH",
      "webhookId": "640e35c7-a318-4b0a-b8f3-808a3c837a7b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select filial\n    , email_loja\n    , email_supervisor\nfrom TB_FILIAIS_TRANSITO\nwhere inativo = 0"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        48,
        544
      ],
      "id": "9af9e92b-4986-4ba5-968f-0224e11ee976",
      "name": "Microsoft SQL4",
      "credentials": {
        "microsoftSql": {
          "id": "KtBQ1uO6JMALaFpK",
          "name": "Banco IB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filtered = items[0].json.data.filter(d => Number(d.valor) !== 0);\nreturn [{ json: { data: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        576
      ],
      "id": "aa4d0cf8-15e8-4890-9e0c-f2bd703208d5",
      "name": "Filtra dados com o valor 0"
    },
    {
      "parameters": {
        "jsCode": "const filtered = items[0].json.data.filter(d => Number(d.valor) !== 0);\nreturn [{ json: { data: filtered } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        1168
      ],
      "id": "b7811dff-32c4-4ecb-afd1-c0c79767af4b",
      "name": "Filtra dado com o valor 0"
    },
    {
      "parameters": {
        "jsCode": "const emailGerente = $json.email_loja\nconst emailSupervisor = $json.email_supervisor\n\nif (emailSupervisor != \"null\"){\n  let emailEnviar = emailGerente + \",\" + emailSupervisor\n  return [\n    {\n      json:{ email : emailEnviar }\n    }\n  ];\n}\nelse{\n  return [\n    {\n      json:{ email : emailGerente }     \n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1184
      ],
      "id": "057ec0a5-0ae3-4276-8a33-7385ef23344b",
      "name": "Retorna o e-mail a ser enviado"
    },
    {
      "parameters": {
        "jsCode": "const emailGerente = $json.email_loja\nconst emailSupervisor = $json.email_supervisor\n\nif (emailSupervisor != \"null\"){\n  let emailEnviar = emailGerente + \",\" + emailSupervisor\n\n  return [\n    {\n      json : {email : emailEnviar}\n    }\n  ];\n}\n  \nelse{\n  return [\n    {\n      json : { email : emailGerente}\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        592
      ],
      "id": "27ce34b6-76db-423a-bbf1-8efb415f6653",
      "name": "Retorna os email a ser enviados"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Filtra dados com o valor 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Envia texto que terminou IB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna os email a ser enviados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Filtra dado com o valor 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Envia texto que terminou TH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retorna o e-mail a ser enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Microsoft SQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Atualiza tabela TRANSITO_ATUALIZAVEL'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia cobrança IB": {
      "main": [
        []
      ]
    },
    "Filtra dados com o valor 0": {
      "main": [
        [
          {
            "node": "Envia cobrança IB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra dado com o valor 0": {
      "main": [
        [
          {
            "node": "Envia cobrança TH",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna o e-mail a ser enviado": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorna os email a ser enviados": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia cobrança TH": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8a426f6e-04a8-40a3-aa8b-ea6b2229ba6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2efdf59d22b01f5b3cc02c6e5343efb0018294d35df8715600aeda534f49f95d"
  },
  "id": "fmDnoxaEpf6bhPkveDU-2",
  "tags": [
    {
      "updatedAt": "2026-03-19T02:34:50.223Z",
      "createdAt": "2026-03-19T02:34:50.223Z",
      "id": "xdonLAvP1eYGsIu9",
      "name": "Transito de notas"
    }
  ]
}